<%= raw getHtmlEncodeResult( @result ) %>
<a href="/videos/detail/<%= @escaped_name %>">詳細にもどる</a>
<script>
$(function(){
	setInterval(function(){
		location.href = "/videos/detail/<%= @escaped_name %>";
	}, 1500);
})
</script>